@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: hsl(243, 87%, 12%)
}

/* font-family: 'Raleway', sans-serif; */

.items-hr{
    width: 0%;
    margin: 0 !important;
    padding: 0 !important;
    transition: all .5s;
    border: 0.1px solid #f8f9fa;
}
.item-for-hr:hover .items-hr{
    width: 100%;
    border: 1px solid #0dcaf0;
}
p{
    color: #5b5b5b;
    
}